defaults:
  - arch: v1
  - _self_

data:
  sampling_rate: 16000
  data_dir: /data/msc-proj/
  n_mels: 64
  frame_length: 0.025
  hop_length: 0.010
  normalize: true

annotations:
  train_files:
    - /data/msc-proj/Training_Set/**/*.csv
  val_files:
    - /data/msc-proj/Validation_Set_DSAI_2025_2026/**/*.csv
  test_files:
    - /data/msc-proj/Evaluation_Set_DSAI_2025_2026/**/*.csv
  positive_label: POS
  class_name: null
  min_duration: 0.5
  max_frames: 512
  batch_size: 1

runtime:
  device: auto
  num_workers: 2
  log_dir: runs/${arch.name}/logs
  ckpt_dir: runs/${arch.name}/checkpoints
